/* s3.css */

/* Reset default margin and padding */
body, h1, h2, h3, h4, p, ul, form {
    margin: 0;
    padding: 0;
  }
  
  /* Basic styles */
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
  }
  
  header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
  }
  
  header h1 {
    margin: 0;
  }
  
  nav ul {
    list-style: none;
    padding: 0;
  }
  
  nav ul li {
    display: inline;
    margin-right: 20px;
  }
  
  nav ul li a {
    color: white;
    text-decoration: none;
  }
  
  main {
    padding: 20px;
  }
  
  .subscription-form {
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
  }
  
  .subscription-form h2 {
    margin-bottom: 10px;
  }
  
  .subscription-form p {
    color: #555;
    margin-bottom: 20px;
  }
  
  form label {
    display: block;
    margin-bottom: 5px;
  }
  
  form input[type="text"],
  form input[type="email"],
  form input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 3px;
    border: 1px solid #ccc;
  }
  
  form input[type="submit"] {
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  form input[type="submit"]:hover {
    background-color: #555;
  }
  
  footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
  }
  .btn{
    padding: 10px 20px;
    background-color: #f1ecec;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }